@use 'variables' as *

.equiposBlock
  padding: 50px 0
  &--grid
    @include flexCenter
    @include maxTabletLandscape
      display: block
  &--img,
  &--copy
    @include maxTabletLandscape
      text-align: center

  &--img
    @include maxTablet
      img
        max-width: 100%
        height: auto!important
        display: block  
  &--copy
    width: 100%
    max-width: 460px
    margin: 0 auto
    h2
      color: var(--primary-color)
    p
      text-align: justify
      @include maxTabletLandscape
        text-align: center