@use 'variables' as *;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
label,
blockquote,
pre,
code,
dt,
dd,
th,
td,
input,
textarea,
button {
  font-family: "Roboto Variable";
  margin: 0;
}




// Export later
.mapBlock{
  display: flex;
  iframe{
    width: 100%;
  }
}

.endlinered{
  background-color: var(--primary-color);
  padding: 30px 0;
  .btn{
    max-width: 280px;
    margin: 20px auto ;
    @media ( min-width: 1200px){
    }
  }
  p{
    color: white;
    text-align: center;
    @media ( min-width: 1200px){
      font-size: 22px;
      text-align: left;
    }
  }
}

.color-red{
  color: var(--primary-color);
}

.bg-red{
  background-color: var(--primary-color);
}