---
import '../styles/_footer.sass'
---

<footer class="footerBlock" >

  <div class="footerBlock--upperFoot pt-5 ">
    <div class="container">
      <div class="row">
        
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footerBlock--info">
            <h4 class="pb-3">Contáctanos</h4>
            <p class="text-uppercase"><strong>Teléfono</strong></p>
            <p>
              Oficina: 
              <a href="tel:(81)22827340">(81) 2282 7340</a>
            </p>
            <p>
              WhatsApp: 
              <a href="tel:(81)13414889">(81) 1341 4889</a>
            </p>
            <p class="text-uppercase pt-4"><strong>Correo</strong></p>
            <p>
              <a href="mailto:ventas@extintoresjovi.com">ventas@extintoresjovi.com</a>
            </p>
          </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footerBlock--info">
            <h4 class="pb-3">Dirección</h4>
            <p>
              Martin Carrera 564, <br>
              Hidalgo, 64290 Monterrey, N.L.
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="footerBlock--info">
            <h4 class="pb-3">Servicios</h4>
            <ul>
              <li><a href="#!">Recarga de Extintores en Monterrey</a></li>
              <li><a href="#!">Señalización Industrial </a></li>
              <li><a href="#!">Equipos Contra Incendios</a></li>
              <li><a href="#!">Consultoría y Capacitación </a></li>
              <li><a href="#!">Mangueras e Hidrantes</a></li>              
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="footerBlock--info">
            <h4 class="pb-3">Suscríbete al boletín informativo</h4>
            <p>Recibe noticias, consejos de prevención, promociones especiales y actualizaciones sobre nuestros servicios directamente en tu correo.</p>
            <p class="pt-2"><strong>¡Mantente informado y protegido!</strong></p>
            <div class="contactBlock--form mx-auto pt-2"  id="formBoletin">
              <form class="row g-3">
                <div class="col-12">
                  <input type="email" class="form-control border-0" id="inputEmailBoletin" placeholder="name@example.com" >
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheckBoletin">
                    <label class="form-check-label" for="gridCheckBoletin">
                      Acepto las políticas de privacidad.
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-danger shadow-sm text-white fs-6 border-0 btnSendForm" id="btnBoletin">
                    Suscribirse
                  </button>              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footerBlock--endFooter d-flex align-items-center">
    <div class="container">
      <p>© 2025 JOVI EXTINTORES</p>
    </div>
  </div>

</footer>