---
import ThemeIcon from "./ThemeIcon.astro"
---

<header class="bg-pink-300">

  <div class="w-7xl mx-auto flex items-center justify-center py-3">
    <ThemeIcon />
    <nav style="padding-left: 20px;">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </nav>  
  </div>
</header>