---
---
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspyInicio">
      <span>Inicio</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspyServicios">
      <span>Servicios</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspyExtintores">
      <span>Extintores</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspySenalizacion">
      <span>Señalizacion</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspyClientes">
      <span>Clientes</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-white fs-6" href="#scrollspyContacto">
      <span>Contacto</span>
    </a>
  </li>
</ul>