---
import '../styles/_herobanner.sass';
---

<section class="heroBanner bg-blue-600" >

  <div class="container mx-auto">
    <!-- Column 1 content goes here -->
    <div class="heroBanner--text">
      <h2>Proteginedo lo que más importa</h2>
      <h1>Soluciones integrales contra incendio con la experiencia y compromiso de JOVI Extintores. Desde Monterrey, para todo México.</h1>
      <div class="heroBanner--btns">
        <button class="btn btn-danger btn-sm shadow-sm">
          Más información
          <i class="bi bi-chevron-double-down"></i>
        </button>
        <button class="btn btn-danger btn-sm shadow-sm">
          Solicita información
          <i class="bi bi-chevron-double-down"></i>
        </button>
      </div>
    </div>
  </div>
</section>