---
import Header from "../components/Header.astro";

import 'bootstrap/dist/js/bootstrap.js'

---
<>
<Header />
<main data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
  <slot />
</main>
</>